

.desktop-only{ display: block; }

/* ========CLEARFIX========*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* для IE6-7 */
.clearfix {
  zoom: 1;
}
/*END ===== CLEARFIX========*/

input{ outline: none; }
button { outline: none; transition: all .1s ease; }

.upper{ text-transform: uppercase !important; }
.relative{ position: relative !important; }
.overfl-h{ overflow: hidden !important; }
.disp-none{ display: none !important; }
.line-through{ text-decoration: line-through !important; }
.wrap-box-shadow{ box-shadow: 0 0 40px 5px rgba(0,0,0,0.75); }

body{
  font-family: 'Oranienbaum', serif;
  background: $mainBGColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


//SWIPER WILL CHANGE HEIGHT ===================
.wrap-swiper-log_reg, .wrap-profile-swiper{
  will-change: height;
}
//END SWIPER WILL CHANGE HEIGHT ===================


input{
  box-shadow: inset 0 0 0 1px rgba(181, 99, 73, 0);
}

.input-error{
  border-radius: 2px;
  border: 1px solid rgba(181, 99, 73, 1) !important;
  box-shadow: inset 0 0 0 1px rgba(181, 99, 73, 1) !important;
}

.m-r-30{ margin-right: 30px; }
.transl_15{ transform: translate(15px, 15px) !important; }
.colored_link{ color: $mainActiveColor; }
.iScrollIndicator{ border: none !important; }
.visibHidden{ visibility: hidden; }
.showVisibOpasAnimCls{
  animation: animShowVisibOpas .7s ease forwards;
}
@keyframes animShowVisibOpas{
  0%{ visibility: hidden;  opacity: 0; }
  0.1%{ visibility: visible; opacity: 0; }
  100%{ visibility: visible; opacity: 1; }
}


#obj-soc_icons{
  position: absolute;
  height: 0;
  width: 0;
}


html:not(.mobile-platform){
  body, html{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #main-scrollbar{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
html.mobile-platform{
  #main-scrollbar{ overflow-x: hidden; }
}

#wrapper-bg{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: url("/images/bg-collection.jpg") no-repeat;
  background-size: cover;
}

.wrapper-bg{
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: url("/images/bg-collection.jpg") no-repeat;
  background-size: cover !important;
  z-index: -1;
  will-change: opacity;
}


a{
  text-decoration: none;
  transition: all .4s;
  color: white;
  outline: none;

  &.tel{
    color: inherit;
    &:hover{ color: inherit; }
  }
}


.banner-center{
  height: 54%;
  display: table-cell;
  margin: auto;
  text-align: center;
  vertical-align: middle;

  &.v-centering{ padding-top: 12vh; }
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.noDesktop{ display: none; }

.btn{
  font-family: 'ProbaPro Lt', sans-serif;
  background: $mainActiveColor;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  padding: 30px 48px;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  color: transparent;
  letter-spacing: 3.5px;
  transition: all .5s;

  &:before, &:after{
    content: attr(content);
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    transition: all .2s;
    color: white;
    transition-delay: .0s;
  }

  &.dark { padding: 27px 68px; background: #3f372e; }
  &.dark-profile { padding: 27px 68px; background: #1a1a1a; }
  &.p-0  { padding: 0; }
  &.small{ padding: 16px 56px; font-size: 14px; }

  &:before{ transition-delay: .15s; transition-duration: .3s; }
  &:after { transform: translate(0, 130%); opacity: 0; transition-delay: 0s; transition-duration: .3s; }
}
html:not(.mobile-platform) .btn:hover{
  &:before{ transform: translate(0, -130%); opacity: 0; transition-delay:   0s; transition-duration: .3s; }
  &:after { transform: translate(0,    0%); opacity: 1; transition-delay: .15s; transition-duration: .3s; }
}

.wave-bg{
  position: absolute;
  top: -300%;
  bottom: -300%;
  left: -300%;
  right: -300%;
  margin: auto;
}

.pad_0{ padding: 0 !important; }

.img-back, .romb-middle{
  svg {
    position: absolute;
    fill: $mainActiveColor;
    opacity: 0.4;
    transform-origin: 50% 50%;
  }
}
.img-back  svg{ width: 210%; transform: translate(-33%, -33%); }
.wave-dark svg{ fill: $mainBGColor; }
.item-coll .img-back  svg{ transform: none; }


.title-wave{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1000px;
  right: -1000px;
  max-width: 900px;
  width: 130%;
  margin: auto;
  transform: translate(2%,-1%) rotate(-45deg);
  z-index: -1;
  fill: $mainActiveColor;
  opacity: 0;
  transition: opacity 4s  1s;
}
html:not(.mobile-platform) .title-wave{ display: none; }


.wrap-banner-cont[data-anim='true'] .title-wave{ opacity: 0.6; }
.wrap-philosophy[data-anim='true'] .wave-phil{ opacity: 0.7; }
.wave-phil{
  transform: translate(7%,-8%);
  transition: opacity 2s .5s;
}

.link-arrow{
  text-decoration: none;
  color: #a35013;
  display: inline-block;
  transition: all 1s cubic-bezier(.16,.82,.06,.93);
}
html:not(.mobile-platform) .link-arrow:hover{ transform: translate(4px, 0); }


.container{
  width: 100%;
  max-width: 1920px;
  padding-left: $containerMarginXL;
  padding-right: $containerMarginXL;
  margin-left:auto;
  margin-right: auto;
}


.wrap-banner{
  display: table;
  width: 100%;
  height: 100vh;
  min-height: 730px;
}


.banner-shadow-top{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.banner-shadow-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.wrap-new-products{
  left: $containerMarginXL;
  right: 0;
  height: 400px;
  position: absolute;
}

.wrap-banner-main{
  position: relative;
  user-select: none;

  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 50%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(27,27,27,1) 100%);
  }
}


.banner-inner{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.banner-img{
  width: 100%;
  transition: all .8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;

  &.hide{ opacity: 0; }
}


.banner-circle-relay{
  transform: translate(-25%, -25%);
  pointer-events: none;
}


.banner-circle{
  position: absolute;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  z-index: 1;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.showed{
    .banner-circle-overfl{
      width: 100%;
      height: 100%;
    }

    svg.svg-banner-circle{
      transition: all 1s ease;

      path{ stroke: transparent !important; }
      circle.stroke{ stroke: $colorMarnur !important; }
    }


    &:hover{
      svg.svg-banner-circle{
        animation-play-state: running;

        circle.filled{ fill: $mainActiveColor !important; }
        circle.stroke{ stroke: $mainActiveColor !important; }
      }

      .banner-popup{
        max-width: 200px;
        animation: showBannerPopup .5s;
      }

      .banner-popup.left{
        max-width: 200px;
        animation: showBannerPopupLeft .5s;
      }
    }
  }


  .banner-circle-relay{
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    transition: all .3s ease-in-out;
  }
}

@keyframes rotateCircle {
  0% {transform: rotate( 90deg) scaleY(-1);}
  100% {transform: rotate(360deg) scaleY(-1);}
}

.banner-popup{
  max-width: 0;
  overflow: hidden;
  transition: all .4s;
  position: absolute;
  left: 45px;
  top: -19px;
  color: white;
  pointer-events: none;

  &.left{ right: 45px; left: auto; }
}


svg.svg-banner-circle{
  transform: rotate(-90deg) scale(1, -1);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  animation: rotateCircle 3.5s linear infinite forwards;
  animation-play-state: paused;

  path{ stroke: rgba(255, 255, 255, 0.8); transition: stroke .4s ease; }
  circle.filled{ fill: rgba(255, 255, 255, 0.8) !important; transition: fill .5s; }

  circle.stroke{
    fill: none !important;
    stroke: transparent;
    stroke-width: 2;
    stroke-dasharray: 2 2;
    transition: stroke .4s ease;
    pointer-events: all;
  }
}


.popup-show .banner-popup{ display: block; }

.banner-popup-code{
  font-family: 'ProbaPro Lt', sans-serif;
  text-transform: uppercase;
  color: #929292;
  font-size: 12px;
}

.banner-popup-text{
  font-size: 20px;
  white-space: nowrap;
}

.banner-popup-relate{
  position: relative;
  margin-left: 9px;
  padding: 15px;
  background: $almostBlackColor;
  &:before{
    content: '';
    position: absolute;
    left: -7px;
    top: 0;
    bottom: 0;
    margin:auto;
    height: 13px;
    width: 13px;
    background: $almostBlackColor;
    transform: rotate(45deg);
  }
}

.banner-popup.left{
  .banner-popup-relate{
    margin-right: 9px;

    &:before{
      right: -7px;
      left: auto;
    }
  }
}


#wrap-banner-img-box{
  position: relative;
  padding-bottom: 58%;
  overflow: hidden;
}


.banner-top-item{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .6s ease-in-out;

  &.hide{ opacity: 0; }
}

#new-products{
  margin-top: -16%;
  position: relative;
  height: 400px;

  &::-webkit-scrollbar{ display: none; }
}

.new-products-left-side{
  padding: 60px 80px;
  background: $almostBlackColor;
  width: 600px;
  height: 100%;
  float: left;
  transition: all 1.2s ease;

  &[data-anim='false']{ opacity: 0; transform: translate(0, 150px); transition: none; }
  .head{ position: relative; }

  .new-label{
    background: $mainActiveColor;
    text-transform: uppercase;
    color: $almostBlackColor;
    font-size: 12px;
    font-family: "ProbaPro Lt", sans-serif;
    padding: 12px 5px 10px;
    line-height: 0;
    float: left;
    letter-spacing: 2px;
  }

  .title{
    font-family: Oranienbaum, serif;
    font-size: 80px;
    color: white;
  }

  .new-products-dots{
    transform: scale(0.82, 1);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;

    .new-prod-dot{
      position: relative;
      margin-left: 10px;
      cursor: pointer;
      display: inline-block;
      font-size: 0;
      vertical-align: bottom;
      height: 100%;
      width: 14px;

      &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 10px;
        width: 10px;
        background: $lineWhite;
        transform: rotate(45deg);
        transition: .218s;
      }

      &:hover:after{
        background: $mainActiveColor;
        animation: hoverNewProdDot .7s;
      }

      &.active:after{ background: $mainActiveColor; }
    }
  }

  .descr{
    font-family: ProbaPro Lt, sans-serif;
    font-size: 18px;
    color: rgba(255,255,255, 0.6);
    margin-top: 10px;
    letter-spacing: .7px;
    line-height: 25px;

    a{
      color: #a35013;
      text-decoration: none;
    }
  }
}

.new-products-right-side{
  height: 100%;
  position: absolute;
  left: 600px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  right: 0;
  transition: transform 1.2s ease, opacity 1.2s ease;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &[data-anim='false']{ opacity: 0; transform: translate(0, 150px); transition: none; }

  &::-webkit-scrollbar { width: 0 !important }
}

.wrap-new-products-gradiet{
  transition: transform 1.2s ease, opacity 1.2s ease;
  &[data-anim='false']{ opacity: 0; transform: translate(0, 150px); transition: none; }
}

.new-products-right-item{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  position: relative;

  &.nowrp-item{ width: 380px; }
}

.show-all-prod{
  position: relative;
  color: $mainActiveColor;
  font-size: 39px;

  &:after{ bottom: 5px; }
}

.show-all-prod-numb{
  color: black;
  font-size: 20px;
  text-align: left;
}

.new-products-more-widt{
  pointer-events: all;
  width: 130px;
  margin: auto;
}

.new-products-right-item.more{
  .bg-new-pright-item-more{
    content: '';
    position: absolute;
    top: 70px;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.4;
    overflow: hidden;
    transform: scale(0.85, 1) rotate(47deg);

    svg{
      position: absolute;
      top: -1000px;
      bottom: -1000px;
      left: -1000px;
      right: -1000px;
      margin: auto;
      width: 700px;
      fill: #b56349;
      transform: rotate(57deg) translate(-98px, 2px);
      transform-origin: 50% 50%;
    }
  }

  .new-products-right-inner-item{
    top: 0;
    display: table;
    width: 260px;
    height: 100%;
  }

  .new-products-more-widt:hover{
    .coll-name-arrow{
      transform: translate(0);
      transition: transform .4s cubic-bezier(.17,.67,.23,1.6);
    }
  }

  .new-products-right-inner-item{ margin-left: 0; }

  .new-products-more-center{
    font-family: Oranienbaum,serif;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
html:not(.mobile-platform) .new-products-right-item.more .new-products-more-widt:hover{
  .coll-name-arrow{
    transform: translate(0);
    transition: transform .4s cubic-bezier(.17,.67,.23,1.6);
  }
}
html.mobile-platform .new-products-right-item.more .new-products-more-widt{
  .coll-name-arrow{
    transform: translate(0);
  }
}


.bg-white-marmur{ background-color: #f0f0f0; }
.no-backgroundblendmode .bg-white-marmur{ background-color: white; }


.new-products-right-inner-item{
  font-family: ProbaPro Lt, sans-serif;
  pointer-events: none;
  text-decoration: none;
  position: relative;
  bottom: -50px;

  .wrap-new-product-img{
    pointer-events: all;
    height: 220px;
    //display: table-cell;
    vertical-align: middle;
    background-size: contain;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    width: 70%;
    transform: scale(0.98);
    transition: transform .4s;
  }

  .wrap-new-product-data{
    padding-left: 10px;

    .product-code{
      font-family: ProbaPro Lt, sans-serif;
      text-transform: uppercase;
      color: #493a2f;
      font-size: 12px;
      letter-spacing: 2.5px;
    }

    .product-name{
      font-family: ProbaPro Lt, sans-serif;
      position: relative;
      color: black;
      pointer-events: all;
      display: inline-block;
      margin-top: 4px;
      font-size: 30px;
      transition: all .4s;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 100%;
        bottom: 4px;
        height: 1px;
        background: $mainActiveColor;
        opacity: 0.6;
        transition: all .3s;
      }
    }

    .product-size{
      font-family: 'ProbaPro', sans-serif;
      color: #8f8f8f;
      font-size:14px;
    }

    .product-price{
      font-family: Oranienbaum, serif;
      color: black;
      margin-top: 5px;
      font-size: 18px;
    }
  }
}
html:not(.mobile-platform) .new-products-right-inner-item:hover{
  .wrap-new-product-data .product-name:after{ right: 0; }
  .wrap-new-product-img{ transform: scale(1.0); }
  .product-name{ color: $mainActiveColor !important; }
}
html.mobile-platform .new-products-right-inner-item{
  .wrap-new-product-img{ transform: scale(1.0); }
}


#wrap-left-slidexbox{ position: relative; }


.wrap-card-view{
  padding-right: 160px;
  position: relative;
  height: 580px;
}

.wrap-mini{
  display: inline-block;
  position: absolute;
  right: 20px;
}

.slidebox{
  position: absolute;
  top: 5px;
  left: 0;
  visibility: visible;
  transform: translate(0, 0);
  transition: opacity .8s ease, transform .8s ease;

  &.hide{
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 45px);
    transition: opacity .2s ease, transform .1s .2s;
  }
}


.new-products-right-side{
  cursor: move;

  .wrap-right-slidebox{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 70px;
    padding-right: 90px;

    .new-products-right-item{
      transform: translate(0);
      transition: opacity .8s ease, transform .8s ease;

      &.hide{
        opacity: 0;
        transform: translateY(45px);
        transition: opacity .2s ease, transform .1s .2s;
      }
    }
  }
}

.wrap-content-ind_pop{
  margin: 60px -20px 50px;
}

.wrap-media-ind_pop{
  float: left;
  width: 55%;
  padding: 0 20px;

  img{ width: 100%; }
}

.wrap-text-ind_pop{
  font-family: ProbaPro Lt, sans-serif;
  font-size: 18px;
  float: left;
  width: 45%;
  padding: 0 20px;
  color: rgba(0,0,0, 0.6);
}

.wrap-ind_pop-btn{
  text-align: center;
}

h3.section-title{
  font-family: 'Oranienbaum', serif;
  font-size: 120px;
  color: white;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin: 0;
  transition: transform 1s, opacity 1s;
  &.small{
    font-size: 90px;
    &:after{ bottom: -45px; }
  }
  &.modal{
    color: black;
    font-size: 60px;
    &:after{ bottom: -45px; }

    &.ind_pop{
      font-size: 48px;
      &:after{ bottom: -35px; }
    }
  }

  &:after{
    content: '';
    position: absolute;
    height: 15px;
    bottom: -20px;
    left: 0;
    right: 0;
    margin:auto;
    background: url(images/section-title-label.svg) no-repeat center center;
    background-size: contain;
  }
}


.bg-wave{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1000px;
  right: -1000px;
  max-width: 1300px;
  width: 100% !important;
  height: 100vh !important;
  min-height: 580px;
  margin: auto;
  z-index: -1;
  fill: #b56349;
  opacity: 1;
  transition: opacity 3s ease;
  &.hide{ opacity: 0; }
}

.wrap-philosophy .bg-wave{
  max-width: 1600px;
  width: 100% !important;
  height: auto!important;
  transition: opacity 2s ease;
}

.cont-coll{
  width: 100%;
  max-width: 1920px;
  margin: auto;
}


.collection-carousel{
  position: relative;
  margin-top: 65px;
  padding-top: 50px;
  white-space: nowrap;
  font-size: 0;

  .swiper-wrapper{
    position: relative;
    left: -23.6%;
  }
}

.coll-carousel-arr{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .zc-modal-swip-arrow{ bottom: 0; }
}

.item-coll:hover, .wrap-philosophy[data-anim='true']{
  .wrap-img-bg .img-back{ background: $mainActiveColor !important; }
}


.item-coll{
  display: inline-block;
  vertical-align: top;
  width: 29%;
  pointer-events: none;

  a{
    text-decoration: none;
    display: block;
    width: 89%;
    outline: none;
    pointer-events: all;
  }


  .wrap-img-more{
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: -1px;
      width: 100%;
      background: black;
      opacity: .8;
      z-index: 2;
      transition: all .7s ease;
    }
  }

  .wrap-img-bg.small {
    width: 100%;
    img{ width: 100%; }

    .img-back, >img, .wrap-transf-img{ will-change: transform; transition: transform .6s cubic-bezier(.44,.18,.29,.97); }

    .wrap-transf-img{
      overflow: hidden;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: black;
        opacity: 0;
        transition: opacity .7s ease;
      }
    }
  }

  &.coll-swiper-arr{
    .wrap-transf-img:after{
      opacity: .6 !important;
    }

    a{ pointer-events: none; }
    .wrap-img-bg{ pointer-events: all; }
  }
}
html:not(.mobile-platform) .item-coll:hover{
  .wrap-img-bg.small .img-back{
    transform: translate(-15px, -15px);
  }

  &.coll-swiper-arr .wrap-img-bg.small{
    .img-back, .wrap-transf-img { transform: none; }
  }

  .wrap-img-bg.small{
    >img, .wrap-transf-img{
      transform: translate(15px, 15px);
    }
    .wrap-img-more:after{ opacity: 0.6; }
  }

  .coll-name{ color: $mainActiveColor; &:before{ right: 0; }}

  .coll-name-arrow{
    transform: translate(0);
    transition: all .4s cubic-bezier(.17,.67,.23,1.6) .3s;
  }
}
html:not(.mobile-platform) .item-coll.coll-swiper-arr{
  &:hover, &.hov{
    .wrap-transf-img:after{ opacity: 0 !important; }
  }
}

.wrap-coll-item-footer{ position: relative; }


.item-coll{
  .wrap-coll-item-data{ opacity: 0; transition: opacity 1s ease; }

  &.swiper-slide-active, &.swiper-slide-next, &.swiper-slide-next + & {
    .wrap-coll-item-data{ opacity: 1; }
  }
}

.wrap-new-products-gradiet{
  pointer-events: none;
  position: absolute;
  left: 600px;
  right: 0;
  top: 0;
  bottom: 0;
  &:before, &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    background-image: linear-gradient(270deg,rgba(0,0,0,0) 0%,rgba(255,255,255,1));
  }
  &:after{
    right: 0;
    left: auto;
    background-image: linear-gradient(90deg,rgba(0,0,0,0) 0%,rgba(255,255,255,1));
  }
}


.coll-img-wrap{ overflow: hidden; }

.wrap-coll-name-arrow{
  position: absolute;
  bottom: 0;
  display: inline-block;
  overflow: hidden;
  padding-right: 15px;
  margin-left: 10px;
  pointer-events: none;
}

.coll-name-arrow{
  color: $mainActiveColor;
  display: inline-block;
  transform: translate(-50px, 0);
  transition: transform .15s ease-in-out;
}

.wrap-new-items{
  height: 400px;
  width: 100%;
}

.new-items-descr{ width: 500px; }

// ========================= PHILOSOPHY =======================
.wrap-philosophy{
  margin-top: 125px;
  position: relative;
  width: 100%;
  font-size: 0;
}

.phil-left{
  display: inline-block;
  vertical-align: middle;
  width: 55%;
  text-align: right;
  padding: 0 20px;
  opacity: 0;
  transition: 1s;
}

.phil-right{
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  padding: 0 20px;
  transition: transform 1.3s .2s, opacity 1.3s .2s;

  &[data-anim='false']{ opacity: 0; transform: translateY(40px); }
  &[data-anim='true']{ opacity: 1; transform: translateY(0); }
}



.wrap-img-bg{
  position: relative;
  display: inline-block;
  font-size: 0;
  z-index: 1;
}


.wrap-philosophy{
  .wrap-img-bg .img-back{ transition: transform 1s; }

  &[data-anim='true']{
    .phil-left{ opacity: 1; }
    .wrap-img-bg .img-back{ transform: translate(-40px, -30px); }
    .philosophy-img{ transform: scale(1); }
  }
}



.philosophy-img{
  width: 81%;
  max-width: 700px;
  transform: scale(0.9);
  transition: transform 1s;

  .img-back svg{
    position: absolute;
    top: -300%;
    bottom: -300%;
    left: -300%;
    right: -300%;
    margin: auto;
    width: 130%;
    transform: none;
  }

  img{ width: 100%; }
}


.phil-text{
  font-family: "ProbaPro Lt", serif;
  font-size: 18px;
  margin-top: -30px;
  width: 87%;
  max-width: 450px;
  color: rgba(255,255,255, 0.6);
  letter-spacing: 0.7px;
  line-height: 25px;
  position: relative;

  &.top{ display: none; }

  a{ text-decoration: none; }

  svg{
    width: 100%;
    fill: #5a5a58;
  }

  g.white{ fill: #9d9e9b; }
}
// END ===================== PHILOSOPHY =======================


// ========================= COLLECTION =======================

section#shop-by-collection{
  padding-top: 220px;
  padding-bottom: 280px;
  overflow: hidden;

  .item-coll{
    a{ transition: .8s; }
    &.swiper-slide-prev   a{ transition: .8s; }
    &.swiper-slide-active a{ transition: .8s .2s; }
    &.swiper-slide-next   a{ transition: .8s .4s; }
    &.swiper-slide-next + .item-coll  a{ transition: .8s .6s; }
    &.swiper-slide-next + .item-coll + .item-coll  a{ transition: .8s .8s; }
  }

  &[data-anim='false']{
    .item-coll a{ opacity: 0; transform: translateY(50px); }
  }
}


.coll-name{
  font-family: "Oranienbaum", serif;
  font-size: 48px;
  color: white;
  transition: all .2s ease-in-out;
  position: relative;
  margin-top: 40px;
  display: inline-block;
  white-space: nowrap;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 6px;
    height: 1px;
    background: #b56349;
    opacity: .6;
    will-change: right;
    transition: right .3s ease;
  }
}
.item-coll.coll-swiper-arr .coll-name:before{ bottom: 4px; }

.numb-prod{
  font-family: "ProbaPro Lt", sans-serif;
  font-size: 16px;
  color: #b2b2b2;
}


// END ====================== COLLECTION ======================


// ========================= CATEGORY =========================
.cat{
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
  border-bottom: 1px solid $lineWhite;
  border-right: 1px solid $lineWhite;
  height: 325px;
  overflow: hidden;
  cursor: pointer;
  background-clip: content-box !important;
  perspective: 300px;
  transition: .4s, border 2s;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: url("../wave.svg#wave") 50% no-repeat;
    background-size: 230%;
    transition: 1.5s;
  }

  &:nth-child( 2):before{ background-position: 10% 70%; }
  &:nth-child( 3):before{ background-position: 70% 40%; }
  &:nth-child( 4):before{ background-position: 90% 60%; }
  &:nth-child( 5):before{ background-position: 20% 20%; }
  &:nth-child( 6):before{ background-position: 90% 10%; }
  &:nth-child( 7):before{ background-position: 80% 50%; }
  &:nth-child( 8):before{ background-position: 70% 90%; }
  &:nth-child( 9):before{ background-position:  0% 80%; }
  &:nth-child(10):before{ background-position: 30% 20%; }


  &:nth-child( 2){ a{ transition-delay: 0.15s }}
  &:nth-child( 3){ a{ transition-delay: 0.3s }}
  &:nth-child( 4){ a{ transition-delay: 0.45s }}
  &:nth-child( 5){ a{ transition-delay: 0.6s }}
  &:nth-child( 6){ a{ transition-delay: 0.75s }}
  &:nth-child( 7){ a{ transition-delay: 0.9s }}
  &:nth-child( 8){ a{ transition-delay: 1.05s }}
  &:nth-child( 9){ a{ transition-delay: 1.2s }}
  &:nth-child(10){ a{ transition-delay: 1.35s }}

  a{
    display: block;
    text-decoration: none;
    height: 100%;
    padding: 5px;
    transition: 1s;
  }

  &[data-anim='false']{
    a{ transform: scale(0.6); opacity: 0; }
  }
}
html:not(.mobile-platform) .cat:hover{
  background: $mainActiveColor;

  &:before{
    opacity: .2;
    background-size: 300%;
  }

  .cat-name{
    color: transparent;

    &:before{
      opacity: 0;
      transform: translate(0,-20px);
      transition: all .45s;
    }

    &:after{
      opacity: 1;
      transform: translate(0,0);
      transition: all .45s .18s;
    }
  }

  .wrap-cat-svg .inner-svg.white {
    animation: showCatSvgAnim .6s cubic-bezier(.19,.8,.66,1.13) forwards;
  }

  .wrap-cat-svg .inner-svg.orange{
    opacity: 0;
    transition: opacity .4s;
  }
}


.cat-image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 120px;
  fill: white;
}

.wrap-anim-svg{
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 50%;
  transition: all 0.5s ease-in-out;

  &.left{
    left: 0;

    .cat-image{
      left: 0;
      right: auto;
    }
  }

  &.right{
    right: 0;

    .cat-image{
      right: 0;
      left: auto;
    }
  }

  .cat-image{ fill: $mainActiveColor; }
}

.wrap-cat-svg{
  width: 130px;
  height: 125px;
  margin-top: 30px;
  margin-bottom: 65px;
  display: inline-block;
  position: relative;
}

.cat-name{
  position: relative;
  font-family: 'Oranienbaum', serif;
  font-size: 30px;
  color: transparent;
  transition: none;

  &:before, &:after{
    content: attr(content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: white;
    transform: translate(0, 30px);
    transition: none;
  }

  &:before{ opacity: 1; transform: translate(0, 0); }
}


.wrap-cat-svg .inner-svg{
  position: absolute;
  display: block;
  width: 165%;
  height: 165%;
  top: 0;
  margin: auto;
  left: -100px;
  right: -100px;
}
.wrap-cat-svg .inner-svg svg{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.wrap-cat-svg .inner-svg.orange{
  fill: #b56349;
  z-index: 0;
  opacity: 1;
}

.wrap-cat-svg .inner-svg.white{
  fill: #ffffff;
  z-index: 1;
  opacity: 0;
  animation: hideCatSvgAnim .3s forwards;
}



@keyframes hideCatSvgAnim{
  0% { opacity: 1; }
  99% { opacity: 0; transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes showCatSvgAnim{
  0% { opacity: 1; transform: scale(1);   }
  50% { opacity: 1; transform: scale(1.1); }
  100% { opacity: 1; transform: scale(1);   }
}

section#our-philosophy{
  margin-top: 140px;
  margin-bottom: 90px;
}

.phil-text-nosvg p{
  position: relative;
  color: $mainTextColor;
}
section#shop-by-cat{ margin-bottom: 130px; }

.wrap-phil-p{
  position: relative;
  padding-bottom: 1px;
  margin-bottom: -9px;
}

.cat-wrapper{
  margin-top: 100px;
  margin-bottom: 80px;
  overflow: hidden;
  border-top: 1px solid $lineWhite;
  border-left: 1px solid $lineWhite;
  transition: border 2s;

  &[data-anim='false']{
    &, .cat{ border-color: transparent; }
  }
}

.wrap-btn-more{
  text-align: center;
  transition: 1s;

  .more-10-cat{ display: inline-block; }
  .more-12-cat{ display: none;         }
  .more-14-cat{ display: none;         }

  &[data-anim='false']{ opacity: 0; transform: translateY(50px); }
}

// END ==================== CATEGORY ====================



@keyframes showBannerPopup{
  0% { transform: translate( 10px, 0px); }
  50% { transform: translate( 25px, 0px); }
  100% { transform: translate(  0px, 0px); }
}

@keyframes showBannerPopupLeft{
  0% { transform: translate(-10px, 0px); }
  50% { transform: translate(-25px, 0px); }
  100% { transform: translate(  0px, 0px); }
}


@keyframes hoverNewProdDot{
  0% { transform: rotate(45deg) scale(  1); }
  50% { transform: rotate(45deg) scale(1.2); }
  100% { transform: rotate(45deg) scale(  1); }
}

// ADD AFTER CREATING PAGE ===============
.modal-second-title{
  font-size: 48px;
  color: #101010;
  text-align: center;
  letter-spacing: -0.8px;
}

.wrap-relate-card-more-choices{
  position: relative;

  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0,0,0, 0.1);
  }
}

.wrap-card-more-choices{
  position: relative;
  margin-top: 25px;

  .wrap-card-block-title{
    margin-bottom: 35px;
    position: relative;
  }
}


.card-mode-choice{
  font-family: ProbaPro Lt, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.6px;
  position: absolute;
  top: 2px;
  right: 0;
}

.cell-card-more-choices{
  font-size: 24px;
  margin-top: 27px;
}

.item-standart-choice{
  float: left;
  max-width: 245px;
  width: 100%;
  padding-right: 20px;
  margin-bottom: 40px;
}

.wrap-swiper-card_price{
  float: left;
  height: 100%;
  width: 240px;
}

.wrapper-card-price{
  position: relative;
  height: 100%;
}

.wrap-card-price{
  height: 100%;
  text-align: center;
  background: $mainActiveColor;
  display: table;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(101%);
  will-change: transform;
  transition: transform .25s;

  &.active{
    transform: translate(0);
    transition: transform .7s .25s;
  }
}

.t_cell{
  display: table-cell;
  vertical-align: middle;
}

.card-price{
  color: white;
  font-size: 60px;
  display: inline-block;
  text-align: left;
  letter-spacing: 1.4px;
}

.card-to_stash{
  float: left;
  width: 140px;
  height: 100%;
  background: #101010;
  margin-left: 2px;
  //display: table-cell;
  text-align: center;
  position: relative;
  border-left: 2px transparent;
  cursor: pointer;
  z-index: 1;
}
html:not(.mobile-platform) .card-to_stash:hover .stash-arrow{ animation: animCardStashHov .8s; }

@keyframes animCardStashHov{
  50% { transform: translateY(15px); }
}

.wrap-under-card_price{
  font-size: 24px;
  color: rgba(255,255,255, 0.6);

  &.small{ font-size: 18px; }
}

.label-price_buy{
  position: absolute;
  left: 0;
  top: 50px;
  height: 140px;
  overflow: hidden;
}

.svg-card-to_stash{
  width: 50px;
  height: 140px;
  fill: white;
  display: block;
  margin: auto;
}

ul.size-name{
  list-style: none;
  margin: 0;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 18px;
  color: rgba(0,0,0, 0.4);
  line-height: 30px;
  width: 100px;
  float: left;
}

.dimensions-item-numb{ display: none; }
.wrap-table-dimensions{ margin-top: 20px; }

ul.wrap-dimensions-values{
  padding: 0;
  padding-left: 100px;
  margin: 0;
  margin-left: -100px;
  width: 100%;
  list-style: none;
  float: right;

  >li{
    padding: 0;
    margin: 0;
    float: left;
    width: 25%;
    line-height: 30px;
    font-size: 18px;
    cursor: pointer;
    color: $mainActiveColor;
    border: 1px solid transparent;
    overflow: hidden;
    transition: .4s;
    &:not(.active):hover{ box-shadow: 0 0 7px 0 rgba(50, 50, 50, 0.75); }

    &.active{
      border-color: rgba(0,0,0, 0.1);
      color: #101010;
    }
  }
}

.wrap-curr_dim_val-swiper{
  width: 100px;
  float: left;
}


.wrap-zc-modal-product-list.item_card{
  margin-top: 50px;
  margin-bottom: 50px;
}

ul.dimensions-values-item{
  list-style: none;
  padding: 0;
  padding-left: 18%;
  margin: 0;
  >li{ transition: color .4s; }
}

ul.size-name, ul.dimensions-values-item{
  padding-top: 8px;
  padding-bottom: 8px;

  &.no-desktop{ display: none; }
}

.wrap-card-params{
  margin: 0 -110px 75px;
  padding-right: 10.8%;
  padding-left: 40px;
}

.wrap-card-params-left{
  margin-top: 170px;
  float: left;
  width: 50%;
  max-width: 750px;
  padding-right: 3%;
}

.wrap-card-params-right{
  max-width: 600px;
  width: 50%;
  float: right;
  position: relative;
}

.wrap-share-soc_icons{
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.share-social-link{
  float: left;
  margin-right: 15px;

  &.inst{ margin-left: -7px; margin-right: 17px; }
}

.label-share{
  display: inline-block;
  vertical-align: middle;
}


.svg-share_social-icon{
  fill: #C0C0C0;
  height: 25px;
  width: 35px;
  transition: fill .4s;
}
html:not(.mobile-platform) .share-social-link:hover .svg-share_social-icon{ fill: darken(#C0C0C0, 15%); }

.label-share{
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.wrap-bigest-swiper{
  margin-left: -110px;
  margin-right: -110px;
}

.wrap-card-dimensions{
  padding: 30px 0;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0,0,0, 0.1);
  }

  .block_title-card{ float: left; }
  .toggle-cent_inch{ float: right; }
}

.wrap-card-name{
  position: relative;
  padding-bottom: 43px;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0,0,0, 0.1);
  }
}

.wrap-also-buy{
  margin-top: 90px;
}

.wrap-also-buy-items{
  margin-top: 30px;
}

.card-modal-slide{
  position: relative;
  background-size: cover;
  pointer-events: all !important;
  &:not(.swiper-slide-active){
    &.swiper-slide-prev img{ transform: scale(0.8) translateX( 5.5%); &:hover{ transform: scale(0.85) translateX( 5.5%);} }
    &.swiper-slide-next img{ transform: scale(0.8) translateX(-5.5%); &:hover{ transform: scale(0.85) translateX(-5.5%);} }
    img{
      cursor: pointer;
      //transform: scale(0.8);
      opacity: 0.2;

      &:hover{
        //transform: scale(0.87);
        opacity: 0.5;
      }
    }
  }

  img{ width: 100%; transition: .4s; }
}

.outer-slide{
  &:not(.swiper-slide-active){ visibility: hidden; }
}

.wrap-carousel-card{
  //height: 880px;
}

.toggle-inner-length{
  letter-spacing: 1.1px;
  cursor: pointer;
  transition: color .4s;
}

.toggle-cent_inch{
  font-family: ProbaPro Lt, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #1a1a1a;
}

.hov-colMain_clack{
  color: $mainActiveColor;
  &:hover, &.active{ color: black; }
}

.card-name{
  position: relative;
  font-size: 60px;
  color: #101010;
  letter-spacing: .4px;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100px;
    width: 80px;
    height: 1px;
    margin: auto;
    background: $mainActiveColor;
  }
}

.block_title-card{
  font-family: ProbaPro Lt, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgba(0,0,0, 0.4);
}

.wrap-card-varians-list{
  //float: left;
  width: 100px;
  display: table-cell;
  vertical-align: middle;
  height: 600px;
  //display: none;
}

ul.card-varians-list{
  list-style: none;
  margin: 0;
  padding: 0;

  >li{
    position: relative;
    opacity: 0.6;
    transition: .4s;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      height: 1px;
      width: 0;
      right: 100px;
      background: $mainActiveColor;
      margin: auto;
      transition: width .7s;
    }
    &.active{ &:before{ width: 40px; }}
    &:hover, &.active{ opacity: 1; .dot-card_item{ transform: scale(1.07); }}


    .dot-card_item{
      position: relative;
      height: 90px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      background-blend-mode: darken;
      cursor: pointer;
      transform: scale(0.95);
      transition: .4s;
    }
  }
}

.curr-card-view{
  float: left;
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-blend-mode: darken;
  transition: .95s;

  &.be_showed{
    position: absolute;
    top: 0;
    left: 0;
  }
}

.wrap-curr-card-view{
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;

  &.hide{
    animation: hideCardView .5s forwards;

    .curr-card-view{ transform: scale(0); }
  }
  &.show {
    &:nth-child(1){ animation: showCardView_1 .8s forwards; }
    &:nth-child(2){ animation: showCardView_2 .8s forwards; }
    &:nth-child(3){ animation: showCardView_3 .8s forwards; }
  }
}


@keyframes showScale {
  from{ transform: scale(0); }
  to{ transform: scale(1); }
}

@keyframes hideCardView {
  to{ transform: translate(-200px); opacity: 0; }
}

@keyframes showCardView_1 {
  from{ transform: translate(15vw, -90px); opacity: 0; }
  to  { transform: translate(0);     opacity: 1; }
}

@keyframes showCardView_2 {
  from{ transform: translate(15vw); opacity: 0; }
  to  { transform: translate(0);     opacity: 1; }
}

@keyframes showCardView_3 {
  from{ transform: translate(15vw, 90px); opacity: 0; }
  to  { transform: translate(0);     opacity: 1; }
}

.card-product-code{
  font-family: ProbaPro Lt, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.4);
  letter-spacing: 0.3px;
}

.wrap-card-otherData{
  padding-top: 30px;
}

ul.card-otherData{
  list-style: none;
  padding: 0;
  margin: 35px 0 0;

  li{
    font-size: 18px;

    &:before {
      content: "• ";
      color: $mainActiveColor;
      transform: scale(1.6);
      float: left;
      margin-right: 10px;
    }

    .prgrph-card-other{ margin: 7px 0; }

    &:first-child .prgrph-card-other{ margin-top: 0; }
  }
}

.catal-coll{
  font-family: ProbaPro Lt, sans-serif;
  font-size: 18px;
  color: rgba(0,0,0, 0.4);
  margin-right: 10px;
}

.card-zoneCat-list{
  margin-bottom: 5px;
}

.wrap-catal-zones, .wrap-catal-coll{
  float: left;
}

.wrap-catal-zones{
  margin-right: 16px;
}

.catal-item-numb{
  font-family: ProbaPro Lt, sans-serif;
  font-size: 18px;
  color: rgba(0,0,0, 0.4);
}


.wrap-log_reg-toggle{
  text-align: center;
  margin-bottom: 50px;
}


.item-log_reg-toggle{
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 4.5px;
  padding: 18px 22px 14px 26px;
  border: 1px solid transparent;
  color: $mainActiveColor;
  cursor: pointer;
  transition: .7s;
  &.swiper-button-disabled{//ACTIVE
    color: black;
    border-color: rgba(0,0,0, 0.1);
  }
}
html:not(.mobile-platform) .item-log_reg-toggle:hover{ color: black; }

.wrap-2-input{
  margin: 0 -10px;
}

.wrap-inp_W_50{
  float: left;
  width: 50%;
  padding: 0 10px;
}

form.login_reg{
  input{
    font-family: ProbaPro Lt, sans-serif;
    background: transparent;
    border: 1px solid rgba(0,0,0, 0.1);
    height: 60px;
    font-size: 18px;
    padding: 0 20px;
    margin-bottom: 30px;
    color: rgba(66, 66, 66, 0.6);
    transition: all .4s ease;

    &::-webkit-input-placeholder {color: rgba(66, 66, 66, 0.6); transition: color .4s}
    &::-moz-placeholder          {color: rgba(66, 66, 66, 0.6); transition: color .4s}/* Firefox 19+ */
    &:-moz-placeholder           {color: rgba(66, 66, 66, 0.6); transition: color .4s}/* Firefox 18- */
    &:-ms-input-placeholder      {color: rgba(66, 66, 66, 0.6); transition: color .4s}
    &::placeholder               {color: rgba(66, 66, 66, 0.6); transition: color .4s}

    &:focus{
      border-color: rgba(0,0,0, 0.25);

      &::-webkit-input-placeholder {color: rgba(66,66,66, 0.35);}
      &::-moz-placeholder          {color: rgba(66,66,66, 0.35);}/* Firefox 19+ */
      &:-moz-placeholder           {color: rgba(66,66,66, 0.35);}/* Firefox 18- */
      &:-ms-input-placeholder      {color: rgba(66,66,66, 0.35);}
      &::placeholder               {color: rgba(66,66,66, 0.35);}
    }
  }

  input.fullW{ width: 100%; }

  .login_reg-submit{
    display: block;
    margin: auto;
    margin-top: 30px;
  }

  hr.login_reg-line{
    height: 1px;
    border: none;
    background: rgba(0,0,0, 0.1);
    width: 100%;
    margin: 40px 0;
  }
}

.log_reg-item.reg{
  form.login_reg{
    input{ margin-bottom: 20px; }
    .login_reg-submit{ margin-top: 10px; }
    hr.login_reg-line{ margin: 0 0 20px; }
  }
}



.wrap-item-soc_log{
  font-family: ProbaPro Lt, sans-serif;
  color: white;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0;
  text-align: center;

  &:before, &:after{ left: 50px; }
  &:before{ transform: translateY( 0%); opacity: 1; }
  &:after { transform: translateY(50%); opacity: 0; }

  &.google{
    background: $login_googleBG;
    float: left;
  }

  &.fb{
    background: $login_fbBG;
    float: right;
  }
}
html:not(.mobile-platform) .btn.wrap-item-soc_log:hover{
  &.google{ background: darken($login_googleBG, 10%); }
  &.fb{ background: darken($login_fbBG, 10%); }

  &:before{ transform: translateY(-50%); opacity: 0; }
  &:after{  transform: translateY(  0%); opacity: 1;}
}

.item-soc_log-text{
  margin: 0 28px;
  padding: 0;
  float: left;
  background: transparent;
  font-size: 14px;
  color: transparent;
}
.item-soc_log-logo{
  float: left;
  width: 50px;
  height: 100%;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: white;
    opacity: 0.2;
  }
}

svg.login-soc_icon{
  fill: #fff;
  width: 24px;
  height: 21px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.wrap-share_social{
  font-family: Oranienbaum, serif;
  margin-top: 35px;
  position: absolute;
  top: 17px;
  left: -380px;

  &.news{ position: static; }
}

.wrap-card-params{
  margin-bottom: 55px;
}


.discount{
  .product-img-table, &.bg-white-marmur, .for-disp_discount{
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      height: 45px;
      z-index: 1;
      background: url(images/percent.svg) center no-repeat $mainActiveColor;
    }
  }
}

