$mainBGColor: #1b1b1b;
$mainActiveColor: #b56349;
$colorMarnur: #f0f0f0;
$colorImgBgDark: #262626;
$lineBlack: rgba(0, 0, 0, 0.2);
$lineWhite: rgba(255, 255, 255, 0.2);
$mainTextColor: rgba(255, 255, 255, 0.6);
$footerColor: #111111;
$bannerCircleBorderColor: #974d16;
$almostBlackColor: #141414;


$containerMarginXL: 120px;
$containerMargin1400: 50px;
$containerMargin1024: 30px;
$containerMarginMobile: 15px;


$breakPointTablet: 1024px;
$breakPointMobile: 640px;

// backgrounds login buttons ======
$login_googleBG: #df4a32;
$login_fbBG: #3a5b96;
// END backgrounds login buttons ======
